@font-face {
  font-family: "nanumsquare";
  src: url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "nanumsquare";
}

input [type="password"] {
  font-family: "roboto";
}

input[type="text"],
select,
option {
  font-family: "nanumsquare";
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position-y: center;
  color: #fff;
  z-index: 10;
}

header > img {
  margin: 5px 20px;
}

.profile-btn {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  align-items: center;
  font-size: 24px;
}

.profile-btn p {
  margin: 0;
}

/* Modal */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  /* opacity: 0.5; */
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  opacity: 1;
  height: 50%;
  width: 50%;
  padding: 40px;
  overflow-y: auto;
  border-radius: 15px;
}

.modal .title {
  display: flex;
  justify-content: space-between;
}

.modal p {
  margin: 10px 0;
}

.modal .material-symbols-outlined {
  cursor: pointer;
}
